.smurf___form > form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.smurf___form label {
   display: flex;
   justify-content: flex-end;
   width: 15%;
   margin-top: 1%;
}

.smurf___form label input {
   margin-left: 4%;
}

.smurf___form form .wrap > button {
   padding: 5% 10%;
   margin: 10% 0;
}

.wrap {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   width: 40%;
}